doctype html
html
	head
	title= title
	meta(charset='utf-8')
	link(rel='stylesheet', href='/stylesheets/style.css')
	body
	div
	block sidebar
		nav
			ul(class='top-nav')
				li 
					a(href='/') Home
				li
					a(href='/divesites') Divesites
				li 
					a(href='/animals') Animals
	block content